<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./static/home_page.css" rel="stylesheet">
</head>
<body>
<header style="width:80%;margin-left:10%">
    <div class="logo_img">
        <a href="./">
            <img src="https://img.onl/43zMty" style="width:85x;height:70px;">
        </a>
    </div>
    <div class="dropdown" >
          <button style="margin-right:10px;" class="btn btn-secondary dropdown-toggle" type="button" onmouseover="show_bar()" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            族群推薦
          </button>
          <ul class="dropdown-menu" id="menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="./?tag=1" onmouseover="show_detail(1)" onmouseout="hide_detail(1)">年長者</a></li>
            <li><a class="dropdown-item" href="./?tag=2" onmouseover="show_detail(2)" onmouseout="hide_detail(2)">學生</a></li>
            <li><a class="dropdown-item" href="./?tag=3" onmouseover="show_detail(3)" onmouseout="hide_detail(3)">新婚夫妻</a></li>
          </ul>
          <div class="tag_detail" id="tag1_detail" style="display:none;background:#F0F0F0;color:#6C6C6C;">
              <p>
                    &emsp;因應家有年長者 <br>
                    &emsp;可能不適合高樓層的房屋 <br>
                    &emsp;為您推薦樓層數不高於4層樓 <br>
                    &emsp;或電梯大樓的房屋
              </p>
          </div>
          <div class="tag_detail" id="tag2_detail" style="display:none;background:#F0F0F0;color:#6C6C6C;">
                <p>
                      &emsp;學生族群租屋 <br>
                      &emsp;考量預算問題 <br>
                      &emsp; 為您推薦租金便宜 <br>
                      &emsp;並且CP值較高的房屋 <br>
                      &emsp;種類推薦為分租套房&雅房
                </p>
          </div>
          <div class="tag_detail" id="tag3_detail" style="display:none;background:#F0F0F0;color:#6C6C6C;">
                <p>
                      &emsp;祝您新婚快樂！ <br>
                      &emsp;不論是否有育兒計畫 <br>
                      &emsp;步入人生新階段的您 <br>
                      &emsp;適合較為寬敞的大房子 <br>
                      &emsp;為您推薦整層住家的房屋種類
                </p>
          </div>
    </div>
<!--    <div class="logo_name">-->
<!--        <a href="./" class="logo_word">-->
<!--            <h3 style="font-size:30px;height:50;width:150px;color:black;">GoodRent</h3>-->
<!--        </a>-->
<!--    </div>-->
    <hr class="downer_line">
</header>
    <div class="tag_box" style="background:gainsboro;width:80%;height:400px;border-radius: 10px;">
        <div class="first_tag">
            <span id="position">
                <h3>位置</h3>
            </span>
            <span id="Taipei">
                <h3 onclick="show_Taipei()">台北市</h3>
            </span>
            <span id="NewTaipei">
                <h3 onclick="show_New_Taipei()">新北市</h3>
            </span>
        </div>
        <div id="Taipei_region">
            <input class="position1_checkbox" type="checkbox" value="中山區" name="台北市地區"><h3 class="position1">中山區</h3>
            <input class="position2_checkbox" type="checkbox" value="大安區" name="台北市地區"><h3 class="position2">大安區</h3>
            <input class="position3_checkbox" type="checkbox" value="信義區" name="台北市地區"><h3 class="position3">信義區</h3>
            <input class="position4_checkbox" type="checkbox" value="士林區" name="台北市地區"><h3 class="position4">士林區</h3>
            <input class="position5_checkbox" type="checkbox" value="內湖區" name="台北市地區"><h3 class="position5">內湖區</h3>
            <input class="position6_checkbox" type="checkbox" value="中正區" name="台北市地區"><h3 class="position6">中正區</h3>
            <input class="position7_checkbox" type="checkbox" value="萬華區" name="台北市地區"><h3 class="position7">萬華區</h3>
            <input class="position8_checkbox" type="checkbox" value="松山區" name="台北市地區"><h3 class="position8">松山區</h3>
            <input class="position9_checkbox" type="checkbox" value="大同區" name="台北市地區"><h3 class="position9">大同區</h3>
            <input class="position10_checkbox" type="checkbox" value="文山區" name="台北市地區"><h3 class="position10">文山區</h3>
            <input class="position11_checkbox" type="checkbox" value="北投區" name="台北市地區"><h3 class="position11">北投區</h3>
            <input class="position12_checkbox" type="checkbox" value="南港區" name="台北市地區"><h3 class="position12">南港區</h3>
        </div>
        <div id="New_Taipei_region" style="display:none">
            <input class="position1_checkbox" type="checkbox" value="板橋區" name="新北市地區"><h3 class="position1">板橋區</h3>
            <input class="position2_checkbox" type="checkbox" value="三重區" name="新北市地區"><h3 class="position2">三重區</h3>
            <input class="position3_checkbox" type="checkbox" value="淡水區" name="新北市地區"><h3 class="position3">淡水區</h3>
            <input class="position4_checkbox" type="checkbox" value="中和區" name="新北市地區"><h3 class="position4">中和區</h3>
            <input class="position5_checkbox" type="checkbox" value="永和區" name="新北市地區"><h3 class="position5">永和區</h3>
            <input class="position6_checkbox" type="checkbox" value="新莊區" name="新北市地區"><h3 class="position6">新莊區</h3>
            <input class="position7_checkbox" type="checkbox" value="新店區" name="新北市地區"><h3 class="position7">新店區</h3>
            <input class="position8_checkbox" type="checkbox" value="汐止區" name="新北市地區"><h3 class="position8">汐止區</h3>
            <input class="position9_checkbox" type="checkbox" value="林口區" name="新北市地區"><h3 class="position9">林口區</h3>
            <input class="position10_checkbox" type="checkbox" value="蘆洲區" name="新北市地區"><h3 class="position10">蘆洲區</h3>
            <input class="position11_checkbox" type="checkbox" value="土城區" name="新北市地區"><h3 class="position11">土城區</h3>
            <input class="position12_checkbox" type="checkbox" value="三峽區" name="新北市地區"><h3 class="position12">三峽區</h3>
            <input class="position13_checkbox" type="checkbox" value="泰山區" name="新北市地區"><h3 class="position13">泰山區</h3>
            <input class="position14_checkbox" type="checkbox" value="鶯歌區" name="新北市地區"><h3 class="position14">鶯歌區</h3>
            <input class="position15_checkbox" type="checkbox" value="樹林區" name="新北市地區"><h3 class="position15">樹林區</h3>
            <input class="position16_checkbox" type="checkbox" value="五股區" name="新北市地區"><h3 class="position16">五股區</h3>
            <input class="position17_checkbox" type="checkbox" value="八里區" name="新北市地區"><h3 class="position17">八里區</h3>
            <input class="position18_checkbox" type="checkbox" value="深坑區" name="新北市地區"><h3 class="position18">深坑區</h3>
            <input class="position19_checkbox" type="checkbox" value="三芝區" name="新北市地區"><h3 class="position19">三芝區</h3>
            <input class="position20_checkbox" type="checkbox" value="瑞芳區" name="新北市地區"><h3 class="position20">瑞芳區</h3>
            <input class="position21_checkbox" type="checkbox" value="金山區" name="新北市地區"><h3 class="position21">金山區</h3>
            <input class="position22_checkbox" type="checkbox" value="萬里區" name="新北市地區"><h3 class="position22">萬里區</h3>
            <input class="position23_checkbox" type="checkbox" value="烏來區" name="新北市地區"><h3 class="position23">烏來區</h3>
            <input class="position24_checkbox" type="checkbox" value="貢寮區" name="新北市地區"><h3 class="position24">貢寮區</h3>
            <input class="position25_checkbox" type="checkbox" value="坪林區" name="新北市地區"><h3 class="position25">坪林區</h3>
            <input class="position26_checkbox" type="checkbox" value="石碇區" name="新北市地區"><h3 class="position26">石碇區</h3>
            <input class="position27_checkbox" type="checkbox" value="平溪區" name="新北市地區"><h3 class="position27">平溪區</h3>
            <input class="position28_checkbox" type="checkbox" value="雙溪區" name="新北市地區"><h3 class="position28">雙溪區</h3>
            <input class="position29_checkbox" type="checkbox" value="石門區" name="新北市地區"><h3 class="position29">石門區</h3>
        </div>
        <div class="second_tag">
            <span id="type">
                <h3>類型</h3>
            </span>
            <input class="type1_checkbox" type="checkbox" value="整層住家" name="house_type"><h3 class="type1">整層住家</h3>
            <input class="type2_checkbox" type="checkbox" value="獨立套房" name="house_type"><h3 class="type2">獨立套房</h3>
            <input class="type3_checkbox" type="checkbox" value="分租套房" name="house_type"><h3 class="type3">分租套房</h3>
            <input class="type4_checkbox" type="checkbox" value="雅房" name="house_type"><h3 class="type4">雅房</h3>
        </div>
        <div class="third_tag">
            <span id="rent">
                <h3>租金</h3>
            </span>
            <input class="rent1_checkbox" type="radio" value="5000元以下" name="house_rent"><h3 class="rent1">5000元以下</h3>
            <input class="rent2_checkbox" type="radio" value="5000元~10000元" name="house_rent"><h3 class="rent2">5000元~10000元</h3>
            <input class="rent3_checkbox" type="radio" value="10000元~15000元" name="house_rent"><h3 class="rent3">10000元~15000元</h3>
            <input class="rent4_checkbox" type="radio" value="15000元~20000元" name="house_rent"><h3 class="rent4">15000元~200000元</h3>
            <input class="rent5_checkbox" type="radio" value="20000元以上" name="house_rent"><h3 class="rent5">20000元以上</h3>
        </div>
        <div class="forth_tag">
            <button id="search" type="button" class="btn btn-dark button" onclick="search_ajax(0)">搜尋</button>
        </div>

    </div>
    <div id="data"></div>
    <div id="home_page_paging">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a id="上一頁" class="page-link" onclick="previous()">Previous</a>
                </li>
                <li class="page-item">
                    <a id="下一頁" class="page-link" onclick="next()">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="tag_page_paging" style="display:none;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a id="上一頁1" class="page-link">Previous</a>
                </li>
                <li class="page-item">
                    <a id="下一頁1" class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script type="text/javascript" src="./static/home_page.js"></script>
</body>
</html>
<script>
    var data = {{data|tojson}}

    function next(){
        location.href = './?paging='+(data[0].paging+1)+'&tag='+data[0].tag
    }

    function previous(){
        if (data[0].paging > 0){
            location.href = './?paging='+(data[0].paging-1)+'&tag='+data[0].tag
         }else{
            location.href = './?paging='+data[0].paging+'&tag='+data[0].tag
         }
    }


    for(var i = 0; i < data.length; i++){
        console.log(data[i].title)
        const div = document.createElement("div")
        div.className = "create_div"
        const link = document.createElement("a")
        link.href = "./detail?id="+data[i].id
        div.appendChild(link)
        const img = document.createElement("img");
        img.className = "img";
        img.style.width="20%";
        img.style.height="20%";
        img.src = data[i].img;
        link.appendChild(img);
        const title = document.createElement("div");
        title.className = "title";
        title.innerHTML = '<h2>'+data[i].title+'</h2>';
        link.appendChild(title);
        const address = document.createElement("div");
        address.className = "address";
        address.innerHTML = '<h3>'+data[i].address+'</h3>'
        link.appendChild(address)
        const type = document.createElement("div");
        type.className = "house_type"
        type.innerHTML = '<h3>'+data[i].type+'</h3>'
        link.appendChild(type)
        const detail = document.createElement("div");
        detail.className = "detail";
        detail.innerHTML = '<h3>'+data[i].size+' | '+data[i].floor+'</h3>'
        link.appendChild(detail)
        const price = document.createElement("div");
        price.className = "price";
        price.innerHTML = '<p>'+data[i].price+'元/月</p>';
        link.appendChild(price);
        const clear = document.createElement("div")
        clear.className = "clear"
        clear.innerHTML = '<hr class="downer_line2">'
        link.appendChild(clear)
        var recommendedProduct = document.getElementById("data");
        recommendedProduct.appendChild(div);
                    }

</script>